*{
    margin:0;
    padding:0;
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Lexend Deca", sans-serif;
}

#container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#parent {
    width: 900px;
    height: 500px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}


#sedan,
#suv,
#luxury {
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#sedan div,
#suv div,
#luxury div {
    width: 70%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#sedan img,
#suv img,
#luxury img {
    width: 80px;
}


#sedan h1,
#suv h1,
#luxury h1 {
    font-family: "Big Shoulders", sans-serif;
}



#sedan p,
#suv p,
#luxury p{
    font-weight:300;

}


button{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: none;
}

#sedan button{
    color: hsl(31, 77%, 52%) ;
}

#suv button{
    color:hsl(184, 100%, 22%) ;
}


#luxury button{
    color: hsl(179, 100%, 13%);
}



#sedan button:hover,
#suv button:hover
,#luxury button:hover{
    background-color: transparent;
    color: white;
    border: 1px solid white ;
    cursor: pointer;

}

#sedan {
    background-color: hsl(31, 77%, 52%);
}

#suv {
    background-color: hsl(184, 100%, 22%);
}

#luxury {
    background-color: hsl(179, 100%, 13%);
}}